<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuanLyNhaTro">
        <activity android:name=".ui.bao_tri.ThemSuaBaoTriActivity" />
        <activity android:name=".ui.bao_tri.DanhSachBaoTriActivity" />
        <activity android:name=".ui.khach_thue.ChiTietKhachThueActivity" />
        <activity android:name=".ui.hop_dong.ChiTietHopDongActivity" />
        <activity android:name=".ui.hoa_don.ThuTienActivity" />
        <activity android:name=".ui.hoa_don.ChiTietHoaDonActivity" />
        <activity android:name=".ui.hoa_don.LapHoaDonActivity" />
        <activity android:name=".ui.chi_so.NhapChiSoActivity" />
        <activity android:name=".ui.hop_dong.ThemSuaHopDongActivity" />
        <activity android:name=".ui.hop_dong.DanhSachHopDongActivity" />
        <activity android:name=".ui.khach_thue.ThemSuaKhachThueActivity" />
        <activity android:name=".ui.phong.ThemSuaPhongActivity" />
        <activity android:name=".ui.thong_ke.BaoCaoActivity" />
        <activity
            android:name=".ui.thong_ke.TongQuanActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.hoa_don.DanhSachHoaDonActivity" />
        <activity android:name=".ui.khach_thue.DanhSachKhachThueActivity" />
        <activity android:name=".ui.phong.ChiTietPhongActivity" />
        <activity android:name=".ui.phong.DanhSachPhongActivity" />
        <activity android:name=".ui.setting.CaiDatActivity" />
        <activity android:name=".ui.setting.CauHinhGiaDichVuActivity" />
        <activity android:name=".ui.setting.ChinhSuaHoSoActivity" />
        <activity android:name=".ui.setting.DoiMatKhauActivity" />
        <activity android:name=".ui.setting.XuatExcelActivity" />
    </application>






</manifest>
